<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.jibola.locus" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_main"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <service
            android:name=".services.LocationListenerService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".listByDate.ListByDateActivity"
            android:label="@string/title_activity_list_by_date"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".locationsForSelectedDay.LocationsForSelectedDayActivity"
            android:label="@string/title_activity_locations_for_selected_day"
            android:parentActivityName=".listByDate.ListByDateActivity">
        </activity>
        <activity
            android:name=".listByTimeSpent.LocationsByTimeSpentActivity"
            android:label="@string/title_activity_locations_by_time_spent"
            android:parentActivityName=".MainActivity">
        </activity>

    </application>

</manifest>